.dashboard-container {
  animation: fadeIn 0.5s ease-in-out;
}

.dashboard-container h1 {
  color: #313131;
}

/* Animação simples para a entrada da página */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}